:host {
  align-items: start;
  align-self: start;
  justify-self: end;
  cursor: pointer;
  button {
    background-color: var(--dark-accept-color);
    transform: scaleX(-1) rotate(90deg);
    border: var(--thin-glass-border);
    padding: var(--gap-tiny);
    border-radius: 50%;
    height: unset;
  }
  transform: translate(3em, .3em);
}
:host([expanded='true']) {
  button {
    background-color: var(--dark-main-glass);
    transform: scaleX(1) rotate(90deg);
  }
  transform: translate(0, .3em);
}
:host([close='true']) {
  button {
    background-color: var(--dark-reject-color);
  }
}
